<article data-value="single" class="function-cb duration1 property-all o0 transform-tYm4 cf pv2 ph1 bb b--light-gray">
  <!-- Exercise Index -->
  <div class="fl w-10">
    <h1 class="ma0 roboto f1_125 fw5 black">8</h1>
  </div>
  <!-- Exercise Header -->
  <header class="fl w-90" style="margin-bottom: 1.5rem;">
    <div class="cf" style="margin-bottom: 0.25rem;">
      <!-- Exercise Name -->
      <h1 class="fl ma0 roboto f1_125 fw5 black">Ab Circuit</h1>
      <!-- Exercise Set Number -->
      <h1 class="fr ma0 roboto f1_125 fw5 black">1 Round</h1>
    </div>
    <div class="cf">
      <!-- Exercise Target Muscle Group -->
      <h3 class="fl ma0 roboto f1 fw5 dark-gray">Core Exercises</h3>
    </div>
  </header>
  <!-- Circuit Details -->
  <div class="cf">
    <div class="fl w-10" style="height: 1px;"></div>
    <div class="fl w-90">
      <div class="w-100 cf mb1">
        <p class="fl ma0 roboto f1_125 fw5 blue">Crunches</p>
        <p class="fr ma0 roboto f1_125 fw5 dark-gray">1min</p>
      </div>
      <div class="w-100 cf mb1">
        <p class="fl ma0 roboto f1_125 fw5 blue">Ab Machine</p>
        <p class="fr ma0 roboto f1_125 fw5 dark-gray">1min</p>
      </div>
      <div class="w-100 cf mb1">
        <p class="fl ma0 roboto f1_125 fw5 blue">Air Bike</p>
        <p class="fr ma0 roboto f1_125 fw5 dark-gray">1min</p>
      </div>
      <div class="w-100 cf mb1">
        <p class="fl ma0 roboto f1_125 fw5 blue">Bent-Knee Hip Raise</p>
        <p class="fr ma0 roboto f1_125 fw5 dark-gray">1min</p>
      </div>
      <div class="w-100 cf">
        <p class="fl ma0 roboto f1_125 fw5 blue">Plank</p>
        <p class="fr ma0 roboto f1_125 fw5 dark-gray">1min</p>
      </div>
    </div>
  </div>
</article>
