/*
  TYPOGRAPHY
  - Font Family
  - Font Weights
  - Font Sizes
  - Colors
  - Text Decoration
*/
/* Font Family */
.ff-roboto { font-family: 'Roboto', sans-serif; }
/* Font Weights */
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
/* Font Sizes */
.fs-1r { font-size: 1rem; }
.fs-1_125r { font-size: 1.125rem; }
/* Colors */
.c-black { color: #000000; }
.c-dark_gray { color: #828282; }
/* Text Decoration */
.td-none { text-decoration: none; }
/*
  BACKGROUNDS
*/
.bgc-black-50 { background-color: rgba(0, 0, 0, 0.5); }
.bgc-gray { background-color: #777777; }
.bgc-blue { background-color: rgba(47, 128, 337, 0.15); }
.bgc-white { background-color: #ffffff; }
/*
  BORDERS
  - Border Styles
  - Border Widths
  - Border Colors
*/
/* Border Styles */
.bbs-solid { border-bottom-style: solid }
/* Border Widths */
.bbw-1x { border-bottom-width: 1px; }
/* Border Colors */
.bc-light_gray { border-color: #eeeeee; }
/*
   CLEARFIX
*/
/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/*
  DISPLAY
*/
.d-block { display: block; }
.d-inline_block { display: inline-block; }
/*
  FLOATS
*/
.f-right { float: right; _display: inline; }
.f-left { float: left; _display: inline; }
/*
  POSITIONING
  - Position
  - Top
  - Right
  - Left
  - Z-index
  - Flexbox
*/
/* Position */
.p-relative { position: relative; }
.p-fixed { position: fixed; }
/* Top */
.t-0r { top: 0rem; }
/* Right */
.r-0r { right: 0rem; }
/* Bottom */
.b-0r { bottom: 0rem; }
/* Left */
.l-0r { left: 0rem; }
.l-0_3r { left: 0.3rem; }
/* Z-index */
.zi-1 { z-index: 1; }
.zi-4 { z-index: 4; }
.zi-5 { z-index: 5; }
/* Flexbox */
.d-inline_flex { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }
.jc-space_between { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
/*
  SPACING
  - Margin
  - Padding
*/
/* Margin */
.ma-0r { margin: 0rem; }
.mt-53x { margin-top: 53px; }
.mb-0_25r { margin-bottom: 0.25rem; }
.mb-0_5r { margin-bottom: 0.5rem; }
.mb-1r { margin-bottom: 1rem; }
.mb-1_5r { margin-bottom: 1.5rem; }
.mb-2r { margin-bottom: 2rem; }
/* Padding */
.pv-1r { padding-top: 1rem; padding-bottom: 1rem; }
.pv-2r { padding-top: 2rem; padding-bottom: 2rem; }
.ph-1r { padding-right: 1rem; padding-left: 1rem; }
.pt-4x { padding-top: 4px; }
.pr-1r { padding-right: 1rem; }
.pl-1r { padding-left: 1rem; }
/*
  MEASURES
  - Widths
  - Heights
*/
/* Widths */
.w-1x { width: 1px; }
.w-10p { width: 10%; }
.w-80p { width: 80%; }
.w-90p { width: 90%; }
.w-100p { width: 100%; }
/* Heights */
.h-1x { height: 1px; }
.h-2_35r { height: 2.35rem; }
.h-100p { height: 100%; }
/*
  TRANSITIONS
  - Functions
  - Durations
  - Properties
  - Opacity
  - Transforms
*/
/* Functions */
.ttf-cubic_bezier { -webkit-transition-timing-function: cubic-bezier(.25,.8,.25,1); transition-timing-function: cubic-bezier(.25,.8,.25,1); }
/* Durations */
.td-1s { -webkit-transition-duration: 1s; transition-duration: 1s; }
.td-0_3s { -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }
/* Properties */
.tp-all { -webkit-transition-property: all; transition-property: all; }
.tp-transform { -webkit-transition-property: transform; transition-property: transform; }
.tp-opacity { -webkit-transition-property: opacity; transition-property: opacity; }
/* Opacity */
.o-0 { opacity: 0; }
.o-1 { opacity: 1; }
/* Transform */
.transform-tY4r { transform: translateY(4rem); }
.transform-tY0 { transform: translateY(0); }
.transform-tY100p { transform: translateY(100%); }
/*
  OTHER
  - General
  - Cursor
  - Pointer Events
*/
/* General */
html { -webkit-font-smoothing: antialiased; }
/* Cursor */
.c-pointer { cursor: pointer; }
/* Pointer Events */
.pe-none { pointer-events: none; }
.pe-auto { pointer-events: auto; }
