<nav class="fixed z-1 top-0 right-0 left-0 ma0 pv1 bg-white bb b--light-gray">
  <h1 class="pl1 fl ma0 roboto fw4 f1_125 black"><%= title %></h1>
  <img data-component="menu" class="c-pointer db pr1 fr" src="images/menu.svg">
</nav>
