<nav class="p-fixed zi-1 t-0r r-0r l-0r ma-0r pv-1r bgc-white bbs-solid bbw-1x bc-light_gray">
  <h1 class="pl-1r f-left ma-0r ff-roboto fw-400 fs-1_125r c-black"><%= title %></h1>
  <img data-component="menu" class="c-pointer d-block pr-1r f-right" src="/images/menu.svg">
</nav>
