<nav class="fixed z-2 top-0 right-0 left-0 ma0 pv1 bg-black">
  <h1 class="pl2 fl ma0 roboto fw5 f1_125 white">Gym Routine</h1>
  <a class="pr2 fr ma0 roboto fw5 f1_125 white td-none" href="http://www.claudiovallejo.mx" target="_blank">by Claudio Vallejo</a>
</nav>
