<%# Config %>
<% if week.title === "This Week" %>
  <% href = "/" %>
<% else %>
  <% href = "/#{week.title.parameterize}" %>
<% end %>
<%# End %>
<nav class="p-fixed zi-1 t-0r r-0r l-0r w-100p clearfix ma-0r pv-1r bgc-white bbs-solid bbw-1x bc-light_gray">
  <div class="f-left w-10p pl-1r">
    <a href="<%= href %>"><%= image_tag "arrow.svg", :class => "pt-4x" %></a>
  </div>
  <div class="f-left w-80p ph-1r">
    <h1 class="f-left ma-0r ff-roboto fw-500 fs-1_125r c-black"><%= routine.name %></h1>
  </div>
  <div class="f-left w-10p pr-1r">
    <img data-component="menu" class="f-right c-pointer" src="/images/menu.svg">
  </div>
</nav>
