<nav data-component="nav" class="preload ttf-cubic_bezier td-0_3s tp-transform t-translateY100p p-fixed zi-5 b-0r l-0r r-0r pv-2r bgc-white">
  <%# Config %>
  <% rl = data.routines.length %>
  <%# End %>
  <% (1..rl).each do |r| %>
    <% routine = fetch_order r %>
    <%# Config %>
    <% if routine.title === "This Week" %>
      <% href = "/" %>
    <% else %>
      <% href = "/#{routine.title.parameterize}" %>
    <% end %>
    <% if r != rl %>
      <% margin = "mb-2r" %>
    <% else %>
      <% margin = "" %>
    <% end %>
    <%# End %>
    <a class="d-block ma-0r <%= margin %> pl-1r ff-roboto fw-400 fs-1_125r c-black td-none" href="<%= href %>"><%= routine.title %></a>
  <% end %>
</nav>
<div data-component="cover" class="preload ttf-cubic_bezier td-0_3s tp-opacity o-0 pe-none p-fixed zi-4 t-0r r-0r l-0r w-100p h-100p bgc-black-50"></div>
