<%# Config %>
<% rl = data.routines.length - 1 %>
<%# End %>
<main class="mt53x">
  <% data.routines.each_with_index do |routine, r| %>
    <%# Config %>
    <% if r != rl %>
      <% margin_bottom = "mb1" %>
    <% else %>
      <% margin_bottom = "" %>
    <% end %>
    <%# End %>
    <a data-card="routine" class="function-cb duration1 property-all o0 transform-tYm4 db cf pa2 td-none" href="<%= routine.day.parameterize %>">
      <h1 class="ma0 mb0_5 roboto fw5 f2 black" href="/<%= routine.day.parameterize %>"><%= routine.name %></h1>
      <h1 class="ma0 roboto fw5 f1_5 dark-gray td-none"><%= routine.day %></h1>
    </a>
  <% end %>
</main>
